.connect-main-container {
  border-radius: 15px;
}
.connect-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .connect-grid-container {
    grid-template-columns: 1fr;
  }
}
.connect-header {
  margin-bottom: 20px;
}
.connect-header h2 {
  font-size: clamp(1.4rem, 3.5vw, 1.9rem);
  color: #222;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: inline-block;
  padding-bottom: 5px;
  background-image: linear-gradient(to right, #10b981 0%, rgba(16, 185, 129, 0) 70%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.connect-header p {
  margin-bottom: 0px;
}

.left-connect-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.left-connect-form h4 {
  font-size: clamp(1.1rem, 2.3vw, 1.3rem);
  font-weight: 650;
  color: #222;
}

.left-connect-form p {
  color: #6b7280;
  font-size: clamp(0.85rem, 1.5vw, 1.15rem);
  line-height: 1.6;
  text-align: start;
}

.contact-details {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-icon {
  margin-right: 8px;
  font-size: 1.2rem;
  color: #10b981;
}

.contact-info-text {
  color: #494c51;
  font-size: clamp(0.85rem, 1.3vw, 1rem);
}

.contact-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-social a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e0f9f3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3dd9b3;
  transition: all 0.3s ease;
  text-decoration: none;
}

.contact-social .social-icon-github:hover {
  background: #333333; /* GitHub black */
  color: white;
  transform: translateY(-3px);
}

.contact-social .social-icon-linkedin:hover {
  background: #0A66C2; /* LinkedIn blue */
  color: white;
  transform: translateY(-3px);
}

.contact-social .social-icon-whatsapp:hover {
  background: #25D366; /* WhatsApp green */
  color: white;
  transform: translateY(-3px);
}

/* right form container */

.right-connect-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.right-connect-form label {
  font-size: clamp(0.8rem, 1.3vw, 1rem);
  font-weight: 600;
  color: #333;
}
.right-connect-form input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: clamp(0.85rem, 1.3vw, 1rem);
  transition: all 0.3s ease;
}
.right-connect-form textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: clamp(0.85rem, 1.3vw, 1rem);
  resize: vertical;
  min-height: 170px;
  transition: all 0.3s ease;
}

.right-connect-form input:focus,
.right-connect-form textarea:focus {
  outline: none;
  border: 2px solid #3dd9b3;
  box-shadow: 0 0 0 4px rgba(61, 217, 179, 0.1);
}

.submit-button {
  background: linear-gradient(90deg, #1abc9c 0%, #10b981 100%);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0.70em 1.30em;
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s, background 0.4s;
}
.submit-button:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
  background: linear-gradient(90deg, #10b981 0%, #1abc9c 100%);
}

.form-message {
  text-align: center;
  margin-top: 15px; 
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.form-message-success {
  color: #047857;
  font-weight: 500;
  font-size: clamp(0.85rem, 1.3vw, 1rem);
  
}

.form-message-error {
  color: #b91c1c; /* Darker red */
  font-weight: 500;
  font-size: clamp(0.85rem, 1.3vw, 1rem);
  
}
.form-error-message {
  color: #d9534f; /* A standard red for errors */
  font-size: clamp(0.85rem, 1.3vw, 1rem);
  margin-top: 5px;
}
