.main-about-container {
  border-radius: 15px;
}

.about-header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-header h2 {
  font-size: clamp(1.4rem, 3.5vw, 1.9rem);
  color: #222;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: inline-block;
  padding-bottom: 5px;
  background-image: linear-gradient(
    to right,
    #10b981 0%,
    rgba(16, 185, 129, 0) 70%
  );
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.about-header p {
  font-size: clamp(0.90rem, 1.5vw, 1.15rem);
  color: #6b7280;
  max-width: 600px;
  margin: 0.5rem auto 0 auto;
}

.my-story-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
}

.my-story-container h3 {
  font-size: clamp(1.1rem, 2.4vw, 1.4rem);
  color: #222;
  font-weight: 650;
  margin-bottom: 1.5rem;
}

.book-icon {
  color: #10b981;
  vertical-align: middle; /* Align the icon vertically with the text */
  margin-right: 8px; /* Add some space between the icon and the text */
}

.my-story-text {
  font-size: clamp(0.85rem, 1.5vw, 1.10rem);
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.timeline-container {
  margin-top: 2.5rem;
  padding-left: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.timeline-container::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 0;
  width: 2.5px;
  height: 100%;
  background-color: #a7f3d0;
  border-radius: 2px;
  z-index: 0;
}

.timeline-item {
  position: relative;
}

.timeline-dot {
  position: absolute;
  left: -29px;
  top: 0;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 3px solid #10b981;
  border-radius: 50%;
  z-index: 1;
}
.timeline-date {
  font-size: clamp(0.9rem, 1.8vw, 1.1rem);
  color: #10b981;
  font-weight: 700;
  display: block;
  margin-bottom: 0.3rem;
}

.timeline-content h4 {
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: 650;
  color: #333;
  margin-bottom: 0.7rem;
}


.timeline-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Added for responsiveness */
  gap: 0.5rem;
}
.timeline-tag {
  font-size: clamp(0.57rem, 2vw, 0.75rem);
  background: #f1f5f9;
  color: #475569;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  font-weight: 600;
}
